<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Drinks<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Alcoholic drinks", "ShowAlcoholicDrinks", "Home")</li>
        <li>@Html.ActionLink("Non-Alcoholic drinks", "ShowNonAlcoholicDrinks", "Home")</li>
        <li>@Html.ActionLink("All drinks", "ShowAllDrinks", "Home")</li>
    </ul>
</li>
